table {    
    border-collapse: collapse; 
    border: 1px solid black; }

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

tr {
    transition: background-color 0.3s ease;
}


td {
    padding: 10px;
    border: 1px solid black;
}

button#agregar {
    width: 100%;
    padding: 10px;
    background-color: #ae804b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; 

}
button#listado {
    width: 100%;
    padding: 10px;
    background-color: #ae804b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; 

}
button#estadisticas {
    width: 100%;
    padding: 10px;
    background-color: #ae804b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px; 

}
button#agregar:hover {
    background-color: #715331;
}
button#listado:hover {
    background-color: #715331;
}
button#estadisticas:hover {
    background-color: #715331;
}