{% extends 'base.html' %}
{% block title %} Inicio {% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/index.css')}}"
    >
{% endblock %}
{% block content %}
    <div class="container">
        <h1> ¡Bienvenido! </h1>
        <h3> Si lo deseas puedes agregar una nueva actividad o revisar las ya existentes </h3>

        <div class="menu-botones">
            <form action="{{ url_for('agregar_actividad') }}" method="get">
                <button type="submit" id="agregar">Agregar actividad</button>
            </form>
            
            <form action="{{ url_for('ver_listado') }}" method="get">
                <button type="submit" id="listado">Ver listado de actividades</button>
            </form>
            
            <form action="{{ url_for('ver_estadisticas') }}" method="get">
                <button type="submit" id="estadisticas">Estadísticas</button>
            </form>
        </div>
    
        <table>
            {% if data %}
                <tr>
                    <td>Inicio</td><td>Término</td><td>Comuna</td><td>Sector</td><td>Tema</td><td>Fotos</td>
                </tr>
                {% for actividad in data%}
                <tr>
                    <td>{{ actividad.inicio }}</td><td>{{ actividad.termino }}</td><td>{{ actividad.comuna }}</td><td>{{ actividad.sector }}</td><td>{{ actividad.tema }}</td><td><img src="{{ actividad.foto }}" alt="Foto de la actividad" width="120" ></td>
                </tr>
                {% endfor%}
            {% endif %}
        </table>
    </div>
{% endblock %}
{% block javascript %}
<script lang="javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}