{% extends 'base.html' %}
{% block title %} Información de la actividad {% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/informacion.css')}}"
    >
{% endblock %}
{% block content %}   
    <div class="main-container">
        <h1>Información de la actividad</h1>  
        {% if data %}
            {% for actividad in data %}
            <div>Fecha y hora de inicio: {{ actividad.inicio }}</div><br>
            <div>Fecha y hora de término: {{ actividad.termino }}</div><br>
            <div>Comuna: {{ actividad.comuna }}</div><br>
            <div>Sector: {{ actividad.sector }}</div><br>
            <div>Tema: {% for tema in temas %}{{ tema.tema }}{% if not loop.last %}, {% endif %}{% endfor %}.</div><br>
            <div>Nombre del organizador:  {{ actividad.organizador }} </div><br>
            <div>Descripción: {{ actividad.descripcion }}</div><br>
            <div> Imágenes de la actividad
                {% for foto in fotos%}
                <br>
                <br>
                <button id="imagen" type="button"> 
                    <span class="contenedor-img">
                        <img src="{{ foto.imagen }}" alt="Fotos de la actividad" onclick="validarimagen(this)">
                    </span>
                </button>
                {% endfor %}
            </div><br>
            <div>
            {% endfor%}
        {% endif %}
            <a href="{{ url_for('index') }}"><button type="submit" id="menu">Volver al menú</button></a> 
        </div>
        <div>
            <a href="{{ url_for('ver_listado') }}"><button type="submit" id="listado">Volver al listado</button></a> 
        </div>

    </div>
{% endblock %}
{% block javascript %}
<script lang="javascript" src="{{ url_for('static', filename='js/informacion.js') }}"></script>
{% endblock %}