{% extends 'base.html' %}
{% block title %} Información de la actividad {% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/informacion.css')}}"
    >
{% endblock %}
{% block content %}   
    <div class="main-container">
        <h1>Información de la actividad</h1>  
        {% if data %}
            {% for actividad in data %}
            <div>Fecha y hora de inicio: {{ actividad.inicio }}</div><br>
            <div>Fecha y hora de término: {{ actividad.termino }}</div><br>
            <div>Comuna: {{ actividad.comuna }}</div><br>
            <div>Sector: {{ actividad.sector }}</div><br>
            <div>Tema: {% for tema in temas %}{{ tema.tema }}{% if not loop.last %}, {% endif %}{% endfor %}.</div><br>
            <div>Nombre del organizador:  {{ actividad.organizador }} </div><br>
            <div>Descripción: {{ actividad.descripcion }}</div><br>
            <div> Imágenes de la actividad
                {% for foto in fotos%}
                <br>
                <br>
                <button id="imagen" type="button"> 
                    <span class="contenedor-img">
                        <img src="{{ foto.imagen }}" alt="Fotos de la actividad" onclick="validarimagen(this)">
                    </span>
                </button>
                {% endfor %}
            </div><br>
            {% endfor%}
        {% endif %}
        <div class="container">
            <div id="val-box" hidden>
                <div id="val-msg"></div>
                <ul id="val-list"></ul>
              </div>
            <form id= "comentarioForm" name="comentarioForm" method="post" enctype="multipart/form-data">
                <h2>Nuevo comentario</h2>
    
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" minlength="3" maxlength="80" required><br>
    
                <label for="comentario">Comentario</label>
                <textarea id="comentario" name="comentario" rows="4" cols="50" minlength="5" required></textarea><br> 
    
                <button id="botonComentario" type="button" class="boton-volver">Agregar comentario</button>
            </form>
        </div>
        
        <div class="menu-botones">
            <a href="{{ url_for('index') }}" id = "menu" class="boton-volver">Volver al menú</a>
            <a href="{{ url_for('ver_listado') }}" id = "listado" class="boton-volver">Volver al listado</a>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script src="/static/js/informacion.js"></script>
{% endblock %}