{% extends 'base.html' %}
{% block title %} Información de la actividad {% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/informacion.css')}}"
    >
{% endblock %}
{% block content %}   
    <div class="main-container">
        <h1>Información de la actividad</h1>  

        <div>Fecha de inicio: 2025-04-06</div><br>
        <div>Hora de inicio: 11:00</div><br>
        <div>Fecha de término: 2025-04-06</div><br>
        <div>Hora de término: 12:00</div><br>
        <div>Comuna: Ñuñoa</div><br>
        <div>Sector: Plaza Ñuñoa </div><br>
        <div>Tema: Plantas </div><br>
        <div>Nombre del organizador:  Sofía Miranda</div><br>
        <div>Descripción: El taller de esquejes enseñó los cuidados y formas de cuidar de estos, para reproducir plantas por medio de este método</div><br>
        <div> Imágenes de la actividad
            <br>
            <br>
            <button id="imagen" type="button"> 
                <span class="contenedor-img">
                    <img src="../images/plantas.jpg" alt="" class="imagen-ajustada"> 
                </span>
            </button>
        </div><br>
        <div>
            <a href="{{ url_for('index') }}"><button type="submit" id="menu">Volver al menú</button></a> 
        </div>
        <div>
            <a href="{{ url_for('ver_listado') }}"><button type="submit" id="listado">Volver al listado</button></a> 
        </div>

    </div>
{% endblock %}
{% block javascript %}
<script lang="javascript" src="{{ url_for('static', filename='js/informacion.js') }}"></script>
{% endblock %}