{% extends 'base.html' %}
{% block title %}Actividades recientes {% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/listado.css')}}"
    >
{% endblock %}
{% block content %} 
    <div>
        <h1>Actividades Recientes</h1>

        <table>
            {% if data %}
                <tr>
                    <td>Inicio</td><td>Término</td><td>Comuna</td><td>Sector</td><td>Tema</td><td> Nombre Organizador</td><td> Total fotos</td>
                </tr>
                {% for actividad in data %}
                <tr onclick="window.location='{{ url_for('informacion', id = actividad.id) }}'">
                    <td>{{ actividad.inicio }}</td><td>{{ actividad.termino }}</td><td>{{ actividad.comuna }}</td><td>{{ actividad.sector }}</td><td>{{ actividad.tema }}</td><td>{{ actividad.organizador }}</td><td>{{ actividad.fotos }}</td>  
                </tr>
                {% endfor%}
            {% endif %}
        </table>
        <br>
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('ver_listado', page=page-1) }}"><div class="arrow-left"></div></a>
            {% endif %}
                
            {% if not page == total_pages %}
                <a href="{{ url_for('ver_listado', page=page+1) }}"><div class="arrow-right"></div></a>
            {% endif %}
        </div>
        <div class="menu-botones">
            <a href="{{ url_for('index') }}"><button type="submit" id="volver">Volver</button></a> 
        </div>
    </div>    
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/listado.js') }}"></script>
{% endblock %}